// ****
// Debug mixin
// @size {string}
// @color {string}
// ****
@mixin debug($size:1px, $color:red){
	outline: $size solid $color;
}

@mixin responsiveMaxWidth($maxWidth){
	@media only screen and (max-width: $maxWidth){
		@content;
	}
}

@mixin responsiveMinWidth($minWidth){
	@media only screen and (min-width: $minWidth){
		@content;
	}
}

@mixin grid($colNumber, $gutterNumber){
	$maxWidth: ($gridColWidth * $colNumber) + ($gridGutterWidth * $gutterNumber);
	max-width: $maxWidth;
	width: 100%;
}

/*
* Letter spacing from photoshop
*/
@mixin photoshopLetterSpacing($letterspacing) {
    letter-spacing : #{$letterspacing / 1000}em;
}

/*
* Line height from photoshop
*/
@mixin photoshopLineHeight($font-size, $line-height: $font-size) {
    line-height: $line-height / $font-size;
}

//Read https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
@mixin height100vh(){
    height:100vh;
    height: calc(var(--vh, 1vh) * 100);
}