// Styleguide layout
html{

}

body{

}

h2.sg{
	&:after{
		display:none;
	}
}

.sg-section-components{
	#components{
		display: none;
	}
	.sg-text{
		display: none;
	}
	.sg-example{
		width: inherit;
		float: none;
	}
}

@media (min-width: 768px){
	.sg-section-components{
		.sg-text + .sg-example, .sg-text + .sg-code{
			width: inherit;
			float: none;
		}
	}
}

//Pour l'affichage des composants
.dfwp_styleguide-iscomposant{

}